/* Agregaremos algo de estilo para visualizar el 
   elemento sobre el que vamos a realizar la prueba */

   .app {
    /*background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 40px;
    text-align: center;*/
  }
  
  
  /* Esta es la parte que nos interesa */
  @media screen and (max-width: 780px) and (orientation: portrait) {
    * {
        background-color: rgb(192, 192, 192);
        color: rgb(0, 0, 0);

     }
    .app {
      display: none;
    }
  
    .twin1 {
      /*font-weight: 100%;*/
      font-size: 50px;
      text-align: center;
      background-color: rgba(255, 0, 0, 0);
      color: rgb(0, 0, 0);
      /*padding-top: 20px;*/
    }
    
    .twin1::after {
      
      Content: "Gire el telefono";
    }
  }